/* *{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: antiquewhite;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


h1{
  text-align: center;
}


h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

button,
input[type="button"] {
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #02203c;
  color: white;
  transition: 0.5s;
  position: absolute;
}

button:first-of-type, input[type="button"]:first-of-type{
  left: 16px;
}
button:last-of-type, input[type="button"]:last-of-type{
  right: 16px;
}
button:disabled, input[type="button"]:disabled{
  background-color: grey;
}

.answer {
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border: 2px solid transparent;
}

.answer::before {
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  padding: 1px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
  padding: 2px;
}

.answer.correct::before, .answer.incorrect::before{
  background: black content-box;
}

.correct{
  border: 2px solid green;
}
.incorrect{
  border: 2px solid red;
}